/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: 800px) {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  small {
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    position: relative;

    @media screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
      padding-bottom: 5px;

      &:before {
        content: '';
        position: absolute;
        left: 35%;
        bottom: 0;
        height: 1px;
        width: 30%;
        border-bottom: 1px solid $gray-medium-light;
      }
    }

    li {
      margin-left: 15px;
    }
  }
}
