input,
textarea,
select,
.undeditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

[id='error_explantion'] {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}
