@import 'bootstrap-sprockets';
@import 'bootstrap';
/* Partials */
@import 'partials/variables';
@import 'partials/typography';
@import 'partials/header';
@import 'partials/footer';

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

.btn {
  border-radius: 3px;
}
