@import 'bootstrap-sprockets';
@import 'bootstrap';
/* Partials */
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/typography';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/debug';
@import 'partials/sidebar';
@import 'partials/forms';
@import 'partials/users';
@import 'partials/microposts';

/* universal */
body {
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

.btn {
  border-radius: 3px;
}
