<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About" , about_path %></li>
      <li><%= link_to "Contact", contact_path  %></li>
      <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
  <small>
    Curds and Whey blog. &copy;<%= Date.current.year %>
  </small>
</footer>